.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: larger;
}

h2 {
  margin-top: 20px;
}

.sectionTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.empty {
  text-align: center;
  color: #888;
  margin: 20px 0;
}